.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

svg {
/*   width: 100%; */
  width: 900;
  height: 400;
}
.tab-content {
  display: flex;
  justify-content: center;
}

/* svg g {
  display: flex;
  justify-content: center;
} */

